*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none; 
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
:root{
    --header-color: #212A3E;
    --text-color:  #394867;
    --title-color: #9BA4B5;
    --section-margin:  70px 0 70px 0;
    --font-size-text: 1.3rem;
    --font-size-title: 2rem;
    --font-size:1rem
}
h2{
    color: var(--title-color);
    font-size: var(--font-size-title);
    margin: 40px 0 40px 0;
}

/******** NAVEGATION BAR *********/
nav{
    background-color: #212A3E;
    color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}
label.logo{
    font-size: 35px;
    padding: 0 0 0 100px;
    font-weight: bold;
}
/* button pdf generator */
#btn-pdf{
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    position: relative;
    border-radius: 10px;
    z-index: 0;
}
#btn-pdf:before{
    content: '';
    background: linear-gradient(151deg, rgba(33,42,62,1) 0%, rgba(155,164,181,1) 53%);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
#btn-pdf:active {
    color: #fff
}
#btn-pdf:active:after {
    background: transparent;
}
#btn-pdf:hover:before {
    opacity: 1;
}
#btn-pdf:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212A3E;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* menu dropdown */
nav ul li{
    border-bottom: 5px solid #c7cbd2;   
}
nav ul li a {
    color: #212A3E;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0 10px;
}
.dropdown {
    background-color: #9BA4B5;
    overflow: hidden;
    margin: 0 100px 0 0;
    text-align: center;
    padding: 0;
}
.dropdown.closed{
    height: 80px;
    padding: 0;
}
.dropdown-child {
    background-color: #9BA4B5;
}
.dropdown-child:after {
    content: "\25BC";
    float: right;
    margin-left: -30px; 
    margin-right: 5px;
  }

/******** NAVEGATION BAR RESPONSIVE *********/
@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 60px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 860px) {
    label.logo{
        padding-left: 10px;
    }
    nav{
        height: 60px;
        line-height: 60px;
    }
    nav ul li a{
        font-size: 20px;
        padding: 0 5px;
    }
    .dropdown {
        margin: 0 20px 0 0;
    }
    .dropdown.closed {
        height: 60px;
    }
}
@media (max-width: 560px) {
    nav{
        height: 170px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .dropdown{
        margin: 0;
    }
    nav ul{
        padding: 0;
    }
    .gtranslate_wrapper{
        margin-left: 70%;
    }
}

/******** TÓPICOS *********/
#topics{
    height: 300px;
    margin: 5%;
    padding-top: 40px;
    text-align: center;
}
.topics-li {
    color:var(--text-color);
    text-decoration: none;
    font-size: var(--font-size-text);
}
.gtranslate_wrapper {
    display: inline-block;
}

/********* ARTIGO ***********/
#artigo {
    margin: 0 10%;
}

/*Aside*/
aside{
    background-color: var(--header-color);
    color: #fff;
    justify-content: center;   
    line-height: 2.7rem;    
    margin: 100px 5% 0 2%;
    min-height: 1000px;
    max-width: 270px;
    float: right;
    padding: 10px;
}
td>a{
    color: #fff;
    text-decoration: none;
}
.rocket {
    padding: 20px 0 0 50px;
}

/*Resumo*/
#resumo-container{
    background-color: #fff;
    color: var(--text-color);
    text-align: justify;
    font-size: var(--font-size-text);
    padding-bottom: 5%;
    margin: 0 5%;
}
.first-letter::first-letter{
    font-size: 6.2rem;
    font-weight: bold;
    margin: -1.5rem 0 -3rem 1rem;
    padding-right: 1rem;
    float:left;
}
.resumo ul li{
    line-height: 1.3;
}

/*Objetivos*/
#objetivos-container{
    font-size: var(--font-size-text);
    text-align: justify;
    color: var(--text-color);
    padding-bottom: 5%;
    margin: 0 5%;
}
#carouselExampleIndicators {
    margin: 5%;
}

/*********** ARTIGO RESPONSIVE *********/
@media(max-width: 800px){
    #article {
        display: flex;
        flex-direction: column;   
    } 
    aside {
        color: white;
        order: 1;
        width: 250px;
        margin: 5% auto; 
    }
}

/*********** FOOTER ************/
footer{
    background-color: var(--header-color);
    color: #fff;
    font-size: var(--font-size-text);
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}
footer>div {
    height: 40px;
    display: flex;
    flex-direction: row;
}
footer>div>a {
    color: #fff;
    text-decoration: none;
    height: 40px;
    padding: 0 10px;
}
footer>div>a:hover{
    background-color: #9BA4B5;
}
.footer-P {
    float: right;
    margin: 0;
    padding-top: 10px;
}
.footer-link:hover{
    opacity: 0.5;
    transform: scale(1.5) rotate(7deg);
}


/*********** FOOTER RESPONSIVE *********/
@media(max-width: 970px) {
    footer {
        padding: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse; 
        height: 100px;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 0;
    }
    footer>div>a {
        color: rgb(122, 163, 210);
    }
    footer>div>a:hover {
        background-color: #c6d0e2;
        transition: -5%;
    }
}



